<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Normal read access -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- Manage all files permission (Android 11+) -->
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Sanitizr"
        android:icon="@mipmap/ic_launcher"
        android:requestLegacyExternalStorage="true">
        
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <service android:name=".service.ScanService" />
    </application>

</manifest>

